Firmware/HTNB32L-XXX-SDK/Debug/COM.txt
Firmware/HTNB32L-XXX-SDK/Build/
Firmware/HTNB32L-XXX-SDK/.vscode/BROWSE.VC.DB-shm
Firmware/HTNB32L-XXX-SDK/.vscode/BROWSE.VC.DB
Firmware/HTNB32L-XXX-SDK/.vscode/BROWSE.VC.DB-wal
Firmware/HTNB32L-XXX-SDK/.vscode/dryrun.log
Firmware/HTNB32L-XXX-SDK/.vscode/targets.log
Firmware/HTNB32L-XXX-SDK/.vscode/logging_output.log
Firmware/HTNB32L-XXX-SDK/.vscode/configurationCache.log
Firmware/HTNB32L-XXX-SDK/Debug/Scripts/__pycache__/
Firmware/HTNB32L-XXX-SDK/Debug/logging_output.log
Firmware/HTNB32L-XXX-SDK/Debug/htnb32l.ini
Firmware/HTNB32L-XXX-SDK/Debug/cfg.digest
Firmware/HTNB32L-XXX-SDK/Debug/Scripts/__pycache__/COM_GUI.cpython-39.pyc
Firmware/HTNB32L-XXX-SDK/Debug/logging_output.log
Software_Apps/HTNB32L-XXX-MQTT-Demo-SW/__pycache__/Demo_GUI.cpython-39.pyc
Software_Apps/HTNB32L-XXX-MQTT-Demo-SW/__pycache__/background_img_rc.cpython-39.pyc