Firmware/HTNB32L-XXX-SDK/Debug/COM.txt
Firmware/HTNB32L-XXX-SDK/Build/
Firmware/HTNB32L-XXX-SDK/.vscode/BROWSE.VC.DB-shm
Firmware/HTNB32L-XXX-SDK/.vscode/BROWSE.VC.DB-wal
Firmware/HTNB32L-XXX-SDK/.vscode/dryrun.log
Firmware/HTNB32L-XXX-SDK/.vscode/targets.log
Firmware/HTNB32L-XXX-SDK/.vscode/logging_output.log